*{
    margin: 0;
    padding: 0;
}
.homeWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 20px;
}
.chartWrapper{
    width: 100%;
    height: 45%;
}
.chart{
    width: 100%;
    height: 100%;
}